.backDrop{
    background-color: rgba(0,0,0,0.84);
    position: fixed;
    top:0;
    bottom: 0;
    right: 0;
    left: 0;
    transition: 0.5s;
    visibility: hidden;
    opacity: 0;
   
}
.overlay{
    position: absolute;
    background-color: #fff;
    z-index: 99;
    border-radius: 10px;
    padding: 28px 30px 32px;
    top:75%;
    left: 50%;
    transform: translate(-50%,-50%);
    transition: 0.5s;
    visibility: hidden;
    opacity: 0;


}


.backdropMobile{
    background-color: rgba(0,0,0,0.84);
    position: fixed;
    top:0;
    bottom: 0;
    right: 0;
    left: 0;
    transition: 0.5s;
    visibility: hidden;
    opacity: 0;
  
   
}
.overlayMobile{
    position: absolute;
    background-color: #fff;
   
    border-radius: 10px;
    padding: 28px 30px 32px;
    top:75%;
    left: 50%;
    transform: translate(-50%,-50%);
    transition: 0.5s;
    visibility: hidden;
    opacity: 0;

}


.show{
    transition: 0.5s;
    opacity:1;
    visibility: visible;
}
.closeBtn{
    position: relative;
    background-color: transparent;
    border:1px solid #007DCE;
    border-radius: 5px;
    width: 41px;
    height: 41px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #007DCE;
    font-size: 22px;
}
.logo{
    display: flex;
    justify-content: center;
    width: 156px;
    height: 148px;
    margin:-25px auto 0;
}
.title{
    text-align: center;
    color: #162037;
    font-size: 24px;
    font-weight: 500;
    margin: 16px 0;
    text-transform: capitalize;
}
.text{
    color: rgba(22, 32, 55, 0.73);
    font-size: 20px;
    font-weight: 400;
    display: flex;
    align-items: center;
    width: 240px;
    margin:0 auto 32px;
    text-transform: capitalize;
    text-align: center;
}
.formTitle{
    text-align: center;
    text-transform: capitalize;
    margin: 0 0 16px;
    font-size: 32px;
    font-weight: 500;
    color: #007DCE;
}
label{
    text-transform: capitalize;
    color: #162037;
    font-size: 24px;
    font-weight: 400;
    width: 100%;
    margin-bottom: 7px;
}
.inputField{
    width: 485px;
    height: 64px;
    border-radius: 10px;
    border: 1px solid #007DCE;
    display: flex;
    align-items: center;
    padding: 20px 45px;
    color: #C4C4C4;
    font-size: 20px;
    font-weight: 400;
   
    outline: none;
 
    
}
.inputField::placeholder{
    color: #C4C4C4;
    font-size: 20px;
    font-weight: 400;
    
}
.inputBlock{
    position: relative;
    margin-bottom: 16px;
}
.inputIcon{
    position: absolute;
    top:23px;
    left:18px;
    color: #C4C4C4;
    font-size: 20px;
}
.error{
    color: red;
    margin: 3px 0;
    display: none;
}
.forgetBtn{
    color: #3382C3;
    font-size: 16px;
    text-transform: capitalize;
    display: flex;
    justify-content: flex-end;
    margin:0 0 24px;
    text-decoration: underline;
    background-color: transparent;
    border:0;
    outline: none;
    font-weight: 400;
    width: 100%;
}
.loginBtn{
    display: flex;
    width: 100%;
    height: 64px;
    border-radius: 10px;
    align-items: center;
    justify-content: center;
    text-transform: capitalize;
    color: #fff;
    font-size: 24px;
    font-weight: 500;
    margin: 0 0 27px;
    background-color: #007DCE;
    border:0;
    outline: none;
}
.formTitle2{
    text-transform: capitalize;
    color: #162037;
    font-size: 20px;
    font-weight: 400;
   text-align: center;
   margin: 0 0 24px;
   position: relative;
}
.formTitle2:before {
    content: "";
    display: block;
    width: 63px;
    height: 1px;
    background: #162037;
    left: 20%;
    top: 50%;
    position: absolute;
  }
  .formTitle2:after {
    content: "";
    display: block;
    width: 63px;
    height: 1px;
    background: #162037;
    right: 20%;
    top: 50%;
    position: absolute;
  }
  .google{
    width: 30px;
    height: 31px;
  }
  .loginBtns{
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
    margin:0 0 24px;
    padding: 0;
  }
  .loginBtns button{
    background-color: transparent;
    border:1px solid #696CFF;
    border-radius: 10px;
    width: 70px;
    height: 71px;
    display: flex;
    align-items: center;
    justify-content: center;
   
    font-size: 30px;
  }
  .loginBtns li{
    margin-right: 25px;
  }
  .loginBtns li:last-child{
    margin-right: 0;
  }
  .fbIcon{
    color: #1976D2;
  }
  .link{
    color: #007DCE;
  }
  .text2{
    color: #575757;
    font-size: 20px;
    font-weight: 400;
   width: 384px;
    margin:0 auto;
    text-transform: capitalize;
    text-align: center;
}
.hide{
    display: none;
}
.loginBtn{
    display: flex;
    width: 100% !important;
    height: 64px;
    border-radius: 10px;
    align-items: center;
    justify-content: center;
    text-transform: capitalize;
    color: #fff !important;
    font-size: 24px;
    font-weight: 500;
    margin: 0 0 27px;
    background-color: #007DCE !important;
    border:0;
    outline: none;
}



/* responsive */
@media only screen and (max-width: 991px) {
    .overlay{
        padding: 15px;
        transform: translate(0,0);
        top:5%;
        left:10px;
        right: 10px;
    }
    .logo{
        width: 70px;
        height: 70px;
    }
    .title{
        font-size: 20px;
        margin-bottom: 10px;
    }
    .text{
        font-size: 15px;
        width: 200px;
        margin: 0 auto 15px;
    }
    .formTitle{
        font-size: 25px;
    }
    label{
        font-size: 16px;
    }
    .inputField{
        width: 100%;
        height: 40px;
    }
    .inputIcon{
        top:12px;
    }
    .loginBtn{
        height: 40px;
        margin: 0 0 15px;
        font-size: 18px;
    }
    .formTitle2:before{
        left:10%;
    }
    .formTitle2:after{
        right: 10%;
    }
    .formTitle2{
        margin: 0 0 15px;
    }
    .google{
        width: 17px;
        height: 17px;
    }
    .loginBtns button{
        font-size: 18px;
        width: 40px;
        height: 40px;
    }
    .text2{
        font-size: 13px;
        width: 100%;
    }
}