.title{
    text-align: center;
    text-transform: capitalize;
    font-size: 32px;
    font-weight: 500;
    color: #162037;
    margin: 36px 0 68px;
}
.secondTitle{
    font-size: 32px;
    font-weight: 400;
    color:  #162037;
    position: relative;
    padding-left: 27px;
    display: flex;
    align-items: center;
    text-transform: capitalize;
    margin-bottom: 146px;
}
.secondTitle:before{
    content:"";
    width: 12px;
    height: 82px;
    background-color: #007DCE;
    position: absolute;
    left:0;

}
.categories{
    display: grid;
    grid-template-columns: repeat(4,auto);
    grid-gap: 24px;
    margin-bottom: 380px;
}
.linkBlock{
    padding: 37px 0;
    border-radius: 10px;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    border:1px solid #fff;
    outline: none;
    transition: 0.5s;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    text-decoration: none;
    text-align: center;
}
.linkBlock:hover{
    border:1px solid #007DCE;
    background-color: rgba(0, 125, 206, 0.05);
}
.linkBlock p{
    width: 100%;
    margin-top: 19px;
    font-size: 24px;
    font-weight: 400;
    color: #007DCE;
    text-decoration: none;
    text-align: center;
}




/* responsive */
@media only screen and (max-width: 991px) {
    .categories{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        margin-bottom: 100px;
    }
    .title{
        font-size: 24px;
    }
    .secondTitle{
        font-size: 22px;
        margin-bottom: 40px;
    }
}