.navBlock{
    box-shadow: 5px 0px 20px -1px #dedede;;
    padding: 18px 0;

}
.navBar{
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
.logo{
    width: 77px;
    height: 73px;
}
.logo img{
    width: 100%;
}
.firstSearch{
    position: relative;
}
.firstSearch input{
    width: 308px;
    height:64px;
    border-radius: 10px;
    border:1px solid #0065B0;
    display: flex;
    align-items: center;
    padding: 18px 0 18px 45px ;
    color: rgba(22, 32, 55, 0.69);
    font-size: 24px;
    outline: none;
}
.firstSearch input::placeholder{
    color: rgba(22, 32, 55, 0.69);
    font-size: 24px;
}
.searchIcon{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 18px;
    color: #007DCE;
    width: 42px;
    height: 24px;
    padding-right: 18px;
}
.secondSearch{
    position: relative;
}
.secondSearch input{
    width: 507px;
    height:64px;
    border-radius: 10px;
    border:1px solid #0065B0;
    display: flex;
    align-items: center;
    padding: 18px  ;
    color: #C4C4C4;
    font-size: 24px;
    outline: none;
}
.secondSearch input::placeholder{
    color: #C4C4C4;
    font-size: 24px;
}
.searchIcon2{
    position: absolute;
    top: 0;

    bottom: 0;
    right: 0;
    color: #fff;
    width: 74px;
    height: 64px;
    background-color: #007DCE;
    padding:15px;
    border-radius: 10px;
}
.chatBar{
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.navBtns{
    display: flex;
    justify-content: flex-end;
}






/* responsive */
@media only screen and (max-width: 991px) {
    .navBar{
       display: block;
    }
    .navBtns{
        justify-content: space-between;
        width: 100%;
    }
    .navToggler{
        position: absolute;
    right: 0;
    top: -60px;
    }
  
    .navBtns{
        margin-top: 15px;
    }
}
