.verifyCodeWrapper {
  margin: 0 auto;
  div {
    display: flex;
    justify-content: center;
    gap: 1.5rem;
    input {
      color: $primary;
      border: 1px $primary solid !important;
      border-radius: 8px;
      font-size: 24px;
      &:focus {
        color: $primary;
        border-color: $primary;
      }
    }
  }
}

.errorCode {
  div {
    input {
      color: $danger;
      border: 1px $danger solid !important;
      &:focus {
        color: $danger;
        border-color: $danger;
      }
    }
  }
}
