.navLinksWrapper {
  padding: 5px;
}

.navLinkNormal {
  color: rgba(35, 47, 62, 0.74);
  padding-bottom: 0.313rem;
  margin: 5px;
  display: block;
}

@include media-breakpoint-between(md, xl) {
  .navLinkNormal {
    margin-right: 1rem;
  }
}

@include media-breakpoint-up(xl) {
  .navLinkNormal {
    margin-right: 3.375rem;
  }
}
