.signupButton {
  width: 6.5rem;
  height: 3rem;
}

@include media-breakpoint-up(md) {
  .signupButton {
    width: 8.5rem;
    height: 4rem;
  }
}

@include media-breakpoint-down(md) {
  .navButtonsWrapper {
    flex: 1 100%;
    text-align: center;
  }
}
