.sellBtn {
  width: 167px;
  height: 64px;
}

.dropdownItem {
  color: $dark;
  svg {
    color: $dark;
  }
}

.dropdownItem {
  &:hover,
  &:active,
  &:focus {
    color: $primary;
    background-color: rgba($color: $primary, $alpha: 0.1);
    svg {
      color: $primary;
    }
  }
}
