@import "~bootstrap/scss/_functions.scss";
@import "~bootstrap/scss/_variables.scss";
@import "~bootstrap/scss/mixins/_breakpoints.scss";

.navLinksWrapper {
  padding: 5px;
}

.navLinkNormal {
  color: rgba(35, 47, 62, 0.74);
  padding-bottom: 0.313rem;
  margin: 5px;
  display: block;
}

@include media-breakpoint-up(sm) {
  .navLinkNormal {
    margin-right: 3.375rem;
  }
}
