.navBlock{
    box-shadow: 5px 0px 20px -1px #dedede;;
    padding: 18px 0;

}
.navBar{
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
.logo{
    width: 77px;
    height: 73px;
}
.logo img{
    width: 100%;
}

.navbarMenu a{
    color: rgba(35, 47, 62, 0.74);
    font-size: 20px;
    font-weight: 500;
    text-transform: capitalize;
    padding: 0 27px !important;
    transition: 0.5s;
}
.navbarMenu a:hover{
    text-decoration: underline;
    color: #007DCE;
}

.nav{
    padding: 0;
}
.navBtns{
    display: flex;
    justify-content: flex-end;
}
.login{
    color: #007DCE;
    font-size: 24px;
    background-color: transparent;
    outline: none;
    text-transform: capitalize;
    border:0;
    margin-right: 32px;
}
.sign{
    width: 136px;
    height: 64px;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    border:0;
    outline: none;
    font-size: 24px;
    text-transform: capitalize;
    background-color: #007DCE;
}





/* responsive */
@media only screen and (max-width: 991px) {
    .navBar{
       display: block;
    }
    .navBtns{
        justify-content: space-between;
        width: 100%;
    }
    .navToggler{
        position: absolute;
    right: 0;
    top: -60px;
    }
    .login{
        font-size: 18px;
    }
    .sign{
        width: 100px;
        height: 40px;
        font-size: 18px;
    }
    .navBtns{
        margin-top: 15px;
    }
}
