.userProfileBackground {
  background: rgba(0, 125, 206, 0.52);
  height: 300px;
  border-radius: 10px;
  position: absolute;
  width: 100%;
}

.userProfileMainInfo {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding-top: 160px;
  * {
    z-index: 5000;
  }
}

.userProfileImage {
  border: 7px solid #ffffff;
  border-radius: 50%;
  width: 280px;
}

.userProfileRating {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.userProfilePropertiesStats {
  display: flex;
  flex-direction: row;
  background: #ffffff;
  box-shadow: 4px 3px 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  padding: 42px 108px;
  margin-top: 52px;
  flex-wrap: wrap;
  gap: 2rem;
  margin-bottom: 4rem;
}

.userProfilePropertyStatCard {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  border-right: 1px solid $primary;
  justify-content: center;
  align-items: center;
  flex: 1 350px;
  &:last-child {
    border: none;
  }
}

.userProfileLoader {
  max-width: 400px;
  padding-top: 4rem;
}

.customCardCenter {
  div {
    margin-left: auto;
    margin-right: auto;
  }
}

@include media-breakpoint-down(lg) {
  .userProfilePropertiesStats {
    padding: 30px 50px;
    flex-direction: column;
    gap: 1rem;
  }

  .userProfilePropertyStatCard {
    flex-basis: 250px;
    border-bottom: 1px solid $primary;
    border-right: 0;
    &:last-child {
      border: none;
    }
  }
}

@include media-breakpoint-down(md) {
  .userProfileBackground {
    height: 200px;
  }
  .userProfileLoader {
    width: 250px;
  }
}
