@import "../../styles/variables";

.heading:before {
  content: "";
  display: block;
  flex: 0.2;
  height: 1px;
  background: $primary-color;
}
.heading:after {
  content: "";
  display: block;
  flex: 0.2;
  height: 1px;
  background: $primary-color;
}

.heading {
  span {
    padding: 0 1.25rem;
  }
}

.imageStack {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  position: relative;
}

.imageStackItem img {
  width: 100%;
  display: block;
}

.imageStackItemTop {
  grid-column: 1 / span 10;
  grid-row: 1 / span 2;
}

.imageStackItemBottom {
  grid-column: 5 / span 7;
  grid-row: 2 / span 2;
  padding-top: 10%;
  z-index: 1;
}

.readMoreButton {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 252px;
  height: 72px;
}

.overlay {
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.2) 0%, rgba(255, 255, 255, 0.2) 100%);
}

.playButtonWrapper {
  width: 5.375rem;
  height: 5.375rem;
  background: rgba(255, 255, 255, 0.52);
}

.playButton {
  width: 2.313rem;
  height: 2.313rem;
  margin-left: 0.5rem;
}
