.dealsTabButton {
  border-bottom: 4px #ddd solid;
}

.viewDeatailsButton {
  height: 64px;
  width: 374px;
  border-radius: 10px;
}

/* responsive */
@media only screen and (max-width: 991px) {
  .navLink {
    font-size: 11px;
    display: flex;
    white-space: nowrap;
    border-bottom: 3px solid #d9d9d9 !important;
  }
  .navLink:hover {
    border-bottom: 3px solid #007dce !important;
  }
  .title {
    font-size: 14px;
    display: flex;
    white-space: nowrap;
  }
  .navPills {
    flex-wrap: nowrap;
    justify-content: center;
  }
  .card {
    width: 100%;
  }
  .cardText h1 {
    font-size: 20px;
  }
  .price span {
    font-size: 15px;
  }
  .details li {
    margin-bottom: 10px;
    font-size: 14px;
  }
  .detailsBtn {
    height: 40px;
    font-size: 18px;
  }
  .tabContent {
    margin-bottom: 40px;
  }
}
