.formInput {
  padding: 0 !important;
  padding-top: 1rem !important;
  padding-bottom: 1rem !important;
}

.formInput::placeholder {
  color: #c4c4c4;
}

.formIcon {
  padding: 1rem 0.875rem 1rem 1.125rem !important;
  color: #c4c4c4 !important;
}

.formIcon svg {
  width: 24px !important;
  height: 23px !important;
}
