.bannerBlock{
    margin: 0 0 120px;
    position: relative;
    border-radius: 10px;
    height: 275px;
}
.bannerBlock img{
    width: 100%;
}
.bannerCover{
    background: linear-gradient(180deg, rgba(30, 30, 30, 0.8) 0%, rgba(0, 0, 0, 0.26) 100%);
    position: absolute;
    top:0;
    bottom: 0;
    right: 0;
    left: 0;
    border-radius: 10px;
}
.bannerCover p{
    font-size: 32px;
    font-weight: 400;
    color: #fff;
    text-transform: capitalize;
    text-align: center;
    margin: 51px auto 24px;
    width: 730px;
}
.sellBtn{
    width: 219px;
    height: 64px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin:0 auto;
    background-color: #007DCE;
    border:0;
    outline: none;
    color: #fff;
    color: #fff;
    text-transform: uppercase;
    font-size: 24px;
    font-weight: 600;
    text-decoration: none;
}
.sellBtn:hover{
    color: #fff;
    text-decoration: none;
}

/* responsive */
@media only screen and (max-width: 991px) {
    .bannerCover p{
        font-size: 18px;
        width: 100%;
        margin: 25px auto 15px;
    }
    .sellBtn{
        width: 200px;
        height: 40px;
        font-size: 18px;
    }
    .bannerBlock{
        height: 160px;
        margin: 0 0 40px;
    }
    .bannerBlock img{
        height: 160px;
    }

}